<app-header></app-header>

<section id="hero">
  <app-hero></app-hero>
</section>
<div class="mx-0 md:mx-8 lg:mx-16 xl:mx-24">
  <section id="skills">
    <app-skills></app-skills>
  </section>

  <section id="experience">
    <app-timeline></app-timeline>
  </section>

  <section id="projects">
    <app-proyects></app-proyects>
  </section>

  <section id="faq">
    <app-frequently-asked></app-frequently-asked>
  </section>
</div>


<!-- <section>
  <app-resources></app-resources>
</section> -->

<!-- <section>
  @defer (on viewport) {
    <app-contact></app-contact>
  }@placeholder {
    <div class="h-96 w-full text-center p-8 bg-base-300">
      Cargando proyectos...
    </div>
  }
</section> -->

<section>
  <app-footer></app-footer>
</section>