@defer(on viewport) {
<section id="hero">
  <app-hero></app-hero>
</section>

<div class="mx-0">
  <app-header></app-header>

  <section id="skills">
    <app-skills></app-skills>
  </section>

  <section id="experience">
    <app-timeline></app-timeline>
  </section>

  <section id="projects">
    <app-proyects></app-proyects>
  </section>

  <section id="faq">
    <app-frequently-asked></app-frequently-asked>
  </section>
</div>

<section>
  <app-footer></app-footer>
</section>
}@loading(minimum 500ms) {
<div class="min-h-screen w-full flex items-center justify-center">
  <span class="loading loading-ring loading-lg" style="width: 4rem; height: 4rem;"></span>
</div>
}@placeholder {
<div class="min-h-screen w-full flex items-center justify-center">
  <span class="loading loading-ring loading-lg" style="width: 4rem; height: 4rem;"></span>
</div>
}




<!-- <section>
  <app-resources></app-resources>
</section> -->

<!-- <section>
  @defer (on viewport) {
    <app-contact></app-contact>
  }@placeholder {
    <div class="h-96 w-full text-center p-8 bg-base-300">
      Cargando proyectos...
    </div>
  }
</section> -->