<h1 class="text-3xl font-bold text-center mb-12 mt-10">{{ "faq.title" | translate }}</h1>

<div tabindex="0" class="collapse collapse-arrow bg-base-100">
  <div class="collapse-title font-semibold">{{ "faq.question_1.title" | translate }}</div>
  <div class="collapse-content text-sm">
    {{ "faq.question_1.answer" | translate }}
  </div>
</div>
<div class="divider w-[98%]  mx-auto"></div>
<div tabindex="0" class="collapse collapse-arrow">
  <div class="collapse-title font-semibold">{{ "faq.question_2.title" | translate }}</div>
  <div class="collapse-content text-sm">
    {{ "faq.question_2.answer" | translate }}
  </div>
</div>

<div class="divider w-[98%] mx-auto"></div>

<div tabindex="0" class="collapse collapse-arrow">
  <div class="collapse-title font-semibold">{{ "faq.question_3.title" | translate }}</div>
  <div class="collapse-content text-sm">
    {{ "faq.question_3.answer" | translate }}
  </div>
</div>

<div class="divider w-[98%] mx-auto"></div>

<div tabindex="0" class="collapse collapse-arrow">
  <div class="collapse-title font-semibold">{{ "faq.question_4.title" | translate }}</div>
  <div class="collapse-content text-sm">
    {{ "faq.question_4.answer" | translate }}
  </div>
</div>
<div class="divider w-[98%] mx-auto"></div>