<h1 class="text-3xl  font-bold text-center mb-12">{{"timeline.title" | translate}}</h1>



<div #timelineContainer>
  <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
    @for (item of timelineData; track $index) {
    <li class="timeline-item">
      <hr [class]="getHrClasses( $index)" />
      <div class="timeline-middle">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" [class]="getIconClasses(0)">
          <path fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd" />
        </svg>
      </div>
      <div [class]="getContentClasses( $index, $index % 2 === 0)">
        <time [class]="getTimeClasses( $index)">{{ item.year }}</time>
        <div class="text-lg font-black">{{ item.title }}</div>
        <div class="text-md font-black text-accent">{{ item.subTitle }}</div>
        <p>{{ item.description }}</p>

        <!-- Iconos de tecnologias-->
        <div class="flex flex-row flex-wrap gap-4 mt-5">
          @for (stackItem of item.stack; track $index) {
          <span class="text-accent" [innerHTML]="stackItem.svg"></span>
          }
        </div>
      </div>
      <hr [class]="getHrClasses( $index)" />
    </li>
    }
  </ul>
</div>