/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, forest --prefersdark, fantasy;
}

@keyframes gentle-move {

  0%,
  100% {
    transform: translateY(-5px);
    animation-timing-function: ease-in-out;
  }

  50% {
    transform: translateY(5px);
    animation-timing-function: ease-in-out;
  }
}

html {
  scroll-behavior: smooth;
}